/*flexbox*/

.container {
    display: flex;
    flex-direction: column;
    .item3{
        display: flex;
        flex-direction: row;
        background-color: $color_bg_main;

        .a3 {
            font-size: 50px;
            color: white;
            width: 450px;
            padding: 100px;
            #naslov {
                font-size: 75px;
                font-weight: bold;
            }
            button {
                padding: 10px;
                color: $color_bg_main;
                border-radius: 8px;
                &:hover {
                    transform: scale(2);
                    transition: $transition_ease;
                }
            }
        }

        .b3 {
            padding-top: 20px;
            img {
                border-radius: 5px;
                &:hover{
                    transform: scale(1.5);
                    transition: $transition_ease;
                }
            }
        }

        .cena1 {
            background-color: white;
            margin-top: 90px;
            margin-left: 150px;
            width: 250px;
            height: 200px;
            color: $color_bg_main;
            font-size: 25px;
            text-align: center;
            span {
                text-decoration: line-through;
                }
            #nula {
                font-size: 80px;
                font-weight: bold;
            }
            #samsung {
                font-size: 30px;
                font-weight: bold;
                }
                &:hover{
                    transform: scale(2);
                    transition: $transition_ease;
                }
            
        }

        .cena2 {
            background-color: white;
            margin-top: 10px;
            margin-left: 150px;
            width: 250px;
            height: 160px;
            color: rgb(203, 38, 113);
            font-size: 25px;
            text-align: center;
            &:hover{
                transform: scale(2);
                transition: $transition_ease;
            }
            #gratis {
                font-size: 70px;
                font-weight: bold;
            }
        }
        .sitno {
            color: white;
            margin-left: 150px;
        }
    }
}